.banner {
  height: 360px;
  overflow: hidden;
  position: relative;
  background-color: #ccc;
}

.banner-img {
  width: 100%;
}

.banner-title {
  max-height: 84upx;
  overflow: hidden;
  position: absolute;
  left: 30px;
  bottom: 30px;
  width: 90%;
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  color: white;
  z-index: 11;
}
